@charset "ISO-8859-1";

* {
	font-family: monospace;
}

header {
	padding: 20px;
}

.table {
	font-size: 1.1em;
	text-align: center;
}

.titulo {
	text-align: center;
}

.divisor {
	margin: 20px 0px 0px 0px;
}

.form-group {
	margin: 10px 0px 10px 10px;
}

.label-nome, .label-cpf, .label-data {
	font-size: 1.1em;
	margin: 5px 10px 0px 0px;
}

.label-formato-data, .label-formato-cpf {
	color: grey;
	margin: 3px 0px 0px 0px;
}

#input-nome, #input-cpf, #input-data {
	font-size: 1.1em;
	width: 300px;
	margin: 0px 20px 0px 0px;
}

#botao-cadastrar {
	background-color: #028090;
	width: 155px;
	margin: 0px 0px 0px 145px;
	border: none;
}

#icone-operacao {
	width: 40px;
	height: 40px;
	border: none;
}

#form-busca {
	margin: 0px 0px 10px 310px;
}

#input-nome-busca {
	width: 300px;
	margin: 0px 10px 0px 10px;
}

#input-cpf-busca {
	width: 200px;
	margin: 0px 10px 0px 10px;
}

#botao-localizar {
	background-color: #f95738;
	width: 120px;
	height: 38px;
	margin: 0px 0px 0px 0px;
	border: none;
}

#titulo-busca {
	font-style:italic;
	color:grey;
	margin: 0px 0px 5px 345px;
}

#container-cliente {
	margin-top: 100px;
}

#tabela-cliente {
	margin-top: 100px;
}