@charset "ISO-8859-1";

* {
	font-family: monospace;
}

.container {
	background-color: #212529;
}

.table {
	background-color: #212529;
	font-size: 1.2em;
	text-align: center;
}

.titulo {
	color: whitesmoke;
	text-align: center;
	padding: 30px;
}

.divisor {
	background-color: whitesmoke;
}

.form-group {
	margin: 10px 0px 10px 10px;
}

.nome, .cpf, .data, .label-data {
	font-size: 1.2em;
	color: whitesmoke;
	margin: 5px 0px 0px 0px;
}

.label-data {
	color: grey;
	margin:3px 0px 0px 0px;
}

#nome, #cpf, #data {
	font-size: 1.2em;
	width: 300px;
	margin: 0px 0px 0px 0px;
}

#botao-cadastrar {
	width: 200px;
	height: 40px;
	margin: 0px 0px 0px 110px;
}

.icone-operacao {
	width: 40px;
	height: 40px;
	border: none;
}