<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>cadastro de clientes spring boot</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
	<div class="container">
		<header class="header">
			<h2 class="titulo">
				<b>CADASTRO DE CLIENTES</b>
			</h2>
		</header>
		<form class="form-cadastro" method="POST" th:object="${cliente}"
			th:action="@{/cadastrar/}">
			<!--  -->
			<div class="form-group">
				<label class="label-nome">NOME COMPLETO</label> <input
					id="input-nome" th:type="text" class="form-control"
					th:field="*{nome}" />
				<p class="p-validacao"th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
				<!--  -->
				<label class="label-cpf">CPF </label>
				<p class="label-formato-cpf">OBS:apenas numeros</p>
				<input id="input-cpf"
					th:type="text" class="form-control" th:field="*{cpf}" />
				<p class="p-validacao" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></p>
				<!--  -->
				<label class="label-data">DATA DE NASCIMENTO</label><input
					id="input-data" th:type="date" class="form-control"
					th:field="*{dataNascimento}" />
				<p  class="p-validacao"th:if="${#fields.hasErrors('dataNascimento')}"
					th:errors="*{dataNascimento}"></p>
				<!--  -->
				<button id="botao-cadastrar" th:type="submit"
					class="btn btn-secondary">
					<b>CADASTRAR</b>
				</button>
				<a th:href="@{/todos/}">
					<button id="botao-pesquisar" th:type="button"
						class="btn btn-secondary">
						<b>PESQUISAR</b>
					</button>
				</a>
			</div>
		</form>
		<footer class="footer">
			<a
				href="https://github.com/TadeunASCIImento/crud-clientes-springboot">
				<img src="/icons/icone_github.png" class="icone-github" />
			</a> <a
				href="https://bitbucket.org/TadeunASCIImento/api-cadastro-de-clientes-springboot">
				<img src="/icons/icone-bitbucket.png" class="icone-bitbucket" />
			</a> <a href="mailto:tadeunascimentosp@gmail.com"> <img
				src="/icons/icone_email.png" class="icone-email" />
			</a> <a href="https://linkedin.com/in/tadeu-do-nascimento"> <img
				src="/icons/icone_linkedin.png" class="icone-linkedin" />

			</a>
			<p class="parag-foot">Desenvolvido por Tadeu do Nascimento &copy;
				2020</p>
		</footer>
	</div>
</body>
</html>