<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>cadastro de clientes spring boot</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
	<div class="container">
		<header class="header">
			<h2 class="titulo">
				<b>DADOS DO CLIENTE</b>
			</h2>
		</header>
		<a th:href="@{/todos/}"><img id="icone-voltar"
			src="/icons/voltar.png" /></a>
		<form method="POST" th:object="${cliente}"
			th:action="@{/atualizar/}" class="form-update">
			<div class="form-inline">
				<input id="input-numero-cliente" th:type="hidden"
					class="form-control" th:field="*{id}" th:value="${cliente.id}" /><input
					id="input-update-cpf" th:type="text" class="form-control"
					th:field="*{cpf}" th:value="${cliente.cpf}" /><input
					id="input-update-nome" th:type="text" class="form-control"
					th:field="*{nome}" th:value="${cliente.nome}" /> <input
					id="input-update-data" th:type="datetime" class="form-control"
					th:field="*{dataNascimento}" th:value="${cliente.dataNascimento}" />
				<button id="botao-salvar" th:type="submit" class="btn btn-secondary">
					<b>SALVAR ALTERAÇÕES</b>
				</button>
			</div>
		</form>
		<table id="table-cliente" class="table table-hover">
			<thead>
				<tr>
					<th>NUMERO DO CLIENTE</th>
					<th>CPF</th>
					<th>NOME</th>
					<th>IDADE</th>
					<th>ALTERAR</th>
					<th>EXCLUIR</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${cliente.id}"></td>
					<td th:text="${cliente.cpf}"></td>
					<td th:text="${cliente.nome}"></td>
					<td th:text="${cliente.idade}"></td>
					<td><a th:href="@{/editar/{id}(id=${cliente.id})}">
							<img id="icone-operacao" src="/icons/update.png" />
					</a></td>
					<td><a th:href="@{/excluir/{id}(id=${cliente.id})}"><img
							id="icone-operacao" src="/icons/trash.png" /></a></td>
				</tr>
			</tbody>
		</table>


	</div>
</body>
</html>